
/rails-backend/.bundle
/rails-backend/log/*
/rails-backend/tmp/*
!/rails-backend/log/.keep
!/rails-backend/tmp/.keep
/rails-backend/storage/*
!/rails-backend/storage/.keep
/rails-backend/.byebug_history
/rails-backend/config/master.key
